- if current_user_is_following(current_user.id, @user.id)
  = link_to 'Following', unfollow_user_path,
          remote: true,
          class: 'btn unfollow-button',
          id: 'unfollow-button',
          method: :post
- else
  = link_to 'Follow', follow_user_path,
          remote: true,
          class: 'btn follow-button',
          id: 'follow-button',
          method: :post