<div class="box">
  <%= form_for @image do |b|%>


      <div class="form-group">
        <%= b.label 'Your Image', :class => 'control-label col-lg-2'  %>
        <%= b.file_field :image, :class => 'form-control' %>
      </div>

      <div class="col-lg-10">
        <%= b.submit 'Create', class: 'btn'%>
      </div>

  <%end%>
</div>